@model IEnumerable<Wembsite.Models.Comment>


@{
    string x = "";
    if (ViewData["ContentID"].ToString() != null)
    {
        x = ViewData["ContentID"].ToString();
    }
}

<div >
    @foreach (var item in Model)
    {
        x = item.contentID.ToString();
        <div id="@item.commentID.ToString()">
            <text style="font-size:medium; color:mediumpurple">@item.commentedBy: </text>
            <text style="font-size:smaller; color: white">@item.commentText</text>
        </div>
    }
</div>

