@model IEnumerable<Wembsite.Models.User>



@foreach (var item in Model)
{
    <tr>
        <td style="color:rgb(201, 201, 201); font-size:small">
            @Html.DisplayFor(modelItem => item.username)
        </td>
    </tr>
}

