body {
    background-color: rgb(42, 42, 42);
    background-size:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-image: url('cheemsBG.jpg')*/
}

    body.log {
        background-image: url('cheemsBG.jpg');
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

body.prof {
    background-image: url('cheemsBG.jpg');
    background-size:initial;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    color: white;
    position: relative;
    animation: mymoveFromTop 1s normal
}

h2 {
    color: white;
    position: relative;
    animation: mymoveFromRight 0.6s normal
}

div.card {
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 10px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 0%;
    min-width: 0%;
    border-radius: 10px;
    position: relative;
    animation: mymoveFromLeft 0.6s normal
}

div.card_with_buttons {
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 10px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 0%;
    min-width: 0%;
    border-radius: 10px;
}

dl.dl-horizontal {
    color: mediumpurple;
}

text {
    font-family: Arial;
    font-size: medium;
    color: rgb(201, 201, 201);
}

div.comment {
    background-color: rgb(46, 46, 46);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 10px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    background-color: #4c566a /*mediumpurple*/;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
    resize: horizontal;
    color: white;
    transition: 0.4s;
}

    button:hover {
        background-color: white /*rgb(46, 46, 46)*/; /* Green */
        color: #4c566a;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border: 2px solid #4c566a;
        transform: scale(1.2,1.2) /* Standard syntax */
    }

#myCard button.greenBtn {
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    width: 130px;
    margin-left: 10px;
    margin-top: 20px;
    resize: horizontal;
    color: white;
    transition: 0.3s;
}

    #myCard button.greenBtn:hover {
        background-color: white; /*rgb(46, 46, 46)*/ /* Green */
        color: green;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border: 2px solid #4c566a;
        transform: scale(1.2,1.2); /* Standard syntax */
    }

a{
    color:hotpink;
    font-size:medium;
}

a:hover{
    color:deeppink;
}

input.button {
    background-color: #4c566a;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    width: 130px;
    margin-left: 10px;
    margin-top: 20px;
    resize: horizontal;
    color: white;
    transition: 0.3s;
}

    input.button:hover {
        background-color: white /*rgb(46, 46, 46)*/; /* Green */
        color: #4c566a;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border: 2px solid #4c566a;
        transform: scale(1.2,1.2); /* Standard syntax */
    }

div.createNewPost {
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 20px;
    padding: 30px 20px 30px 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    animation: mymoveFromLeft 0.6s normal
}

input.searchBox {
    width: 400px;
    border-radius: 5px;
}

    input.searchBox:hover {
        box-shadow: 1px 1px 20px;
    }

div.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button.tile {
    height: 800px;
    width: 300px;
}

::placeholder {
    color: white;
}

.inputField {
    width: 60%;
    height: 35px;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 30px;
    transition: 0.4s;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    position: relative;
    animation: mymoveFromLeft 0.6s normal
}

    .inputField:hover {
        width: 65%;
        border-color: midnightblue;
        box-shadow: 3px 3px 20px rgb(17, 17, 17);
    }

.inputField_Signup {
    width: 60%;
    height: 25px;
    border-radius: 8px;
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.4s;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    position: relative;
    animation: mymoveFromLeft 0.6s normal
}

    .inputField_Signup:hover {
        width: 65%;
        border-color: midnightblue;
        box-shadow: 3px 3px 20px rgb(17, 17, 17);
    }

.loginForm {
    background: rgb(255,255,255,0.1);
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    margin-top: 30px;
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    padding-top: 0px;
}

.signupForm {
    background: rgb(255,255,255, 0.1);
    width: 30%;
    height: 610px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    margin-top: 10px;
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    padding-top:0px;
}

/*a {
    color: mediumpurple;
    stroke: white;
    stroke-width: 5px;
    stroke-opacity: 100;
    -webkit-text-stroke-color: black;
    font-size: large;
    font-family: 'Trebuchet MS';
}*/

text {
    color: white;
    stroke: white;
    stroke-width: 5px;
    stroke-opacity: 100;
    -webkit-text-stroke-color: black;
    font-size: large;
    font-family: 'Trebuchet MS';
}

input {
    border-radius: 5px;
}

@keyframes mymoveFromLeft {
    from {
        left: 3000px;
    }

    to {
        left: 0px;
    }
}

@keyframes mymoveFromRight {
    from {
        right: 3000px;
    }

    to {
        right: 0px;
    }
}

@keyframes mymoveFromTop {
    from {
        top: -200px;
    }

    to {
        top: 0px;
    }
}
