body {
    background-color: rgb(23, 23, 24);
}

div.card {
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 10px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height:0%;
    min-width:0%;
}

dl.dl-horizontal {
    color: mediumpurple;
}

text {
    font-family: Arial;
    font-size: medium;
    color: rgb(201, 201, 201);
}

div.comment {
    background-color: rgb(46, 46, 46);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 10px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    background-color: mediumpurple;
    border: 1px solid white;
    border-radius:5px;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
    resize: horizontal;
    color:white;
    transition: 0.4s;
}

    button:hover {
        background-color: rgb(46, 46, 46); /* Green */
        color: mediumpurple;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        border: 2px solid mediumpurple;
        transform: scale(1.2,1.2) /* Standard syntax */
    }

input.button {
   
    background-color: mediumpurple;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    width: 130px;
    margin-left: 10px;
    margin-top: 20px;
    resize: horizontal;
    color: white;
    transition: 0.3s;
}

input.button:hover {
    background-color: rgb(46, 46, 46); /* Green */
    color: mediumpurple;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid mediumpurple;
    transform:scale(1.2,1.2); /* Standard syntax */
}

div.createNewPost {
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 2px 10px rgb(17, 17, 17);
    text-indent: 20px;
    padding: 30px 20px 30px 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input.searchBox {
     width:400px;
     border-radius:5px;
}
input.searchBox:hover{
    box-shadow:5px 5px 50px ;
}
