
@{
    ViewBag.Title = "ForgotPassword";
}


<!DOCTYPE html>
<html>


<link href="../../Content/LoginStyles.css" rel="stylesheet" type="text/css" />
<div>

    <form class="loginForm" method="post" action="../../Login/SendCodeToUser" onsubmit="">
        <h2>Forgot Password</h2>
        <br />
        <label style="font-size:smaller">
            We'll send a 6 digit code to your email
        </label>
        <label  style="font-size:smaller">
            Do not share that code with anyone
        </label>
        <label  style="font-size:smaller">
            Follow the instructions in the email!
        </label>
        <label class="label" name="eLabel">Email:</label>
        <input class="inputField" type="email" name="un" placeholder="example@gmail.com" required />

        <button>Done</button>
        <br />
        <a href="../../Login">Click here to return to Login Page</a>
    </form>
</div>
</html>

<script>
    //email sends code to user
    //user enters code here and password reset
</script>