
@using Wembsite.Models
@model Wembsite.Models.User
@*@using Wembsite.Models.*@
@{
    ViewBag.Title = "Login";
    //var alert;
    if (Model != null)
    {
        var alert = @ViewData["Message"];
    }
}
<!DOCTYPE html>
<html>
<body class="log">

<link href="../../Content/material.css" rel="stylesheet" type="text/css" />
<div>
    <form class="loginForm" name="loginForm" method="post" action="../../Login/VerifyCredentials" onsubmit="validateInput()">
        <h1 style="color:yellow">Wembsite</h1>
        <h2>Log in</h2>
        <label style="color:yellow">@ViewData["Message"]</label><br />
        <label class="label" style="font-size:medium" name="unLabel">Username:</label>
        <input class="inputField" type="text" name="un" placeholder="Username" required />
        <label class="label" style="font-size:medium" name="pLabel">  Password:</label>
        <input class="inputField" type="password" name="upwd" placeholder="Password" required />
        <button name="loginBtn" type="submit">Log In</button>
        <br /><br /><text>New to Wembsite?</text>
        <a style="color:wheat" href="../../Login/SignUp">Click here to create an account!</a>
    </form>
</div></body>
</html>

<script>
    function validateInput() {
        var username = document.forms["loginForm"]["un"].value;
        var password = document.forms["loginForm"]["upwd"].value;
        if (username == "" || password == "") {
            alert("Username or Password fields cannot be blank!");
            return false;
        }

        return true;
    }
</script>



