
@{
    ViewBag.Title = "Sign Up";
}

@model string
<div>


    <link href="../../Content/material.css" rel="stylesheet" type="text/css" />
    <div>
        
        <form class="signupForm" name="signupForm" method="post" action="../../Login/addNewUser">

            <h2>Sign Up</h2>
            <label style="color:yellow; text-align:center;">@Model</label>
            <label class="label">First Name:</label>
            <input class='inputField_Signup' name="fname" type="text" required />
            <label class="label">Last Name:</label>
            <input class='inputField_Signup' name="lname" type="text" required />
            <label class="label">Username:</label>
            <input class='inputField_Signup' name="uname" type="text" required />
            <label class="label">Email:</label>
            <input class='inputField_Signup' name="email" type="email" required />
            <label class="label">Password:</label>
            <input class='inputField_Signup' type="password" name="upwd" required />
            <label class="label">Confirm Password:</label>
            <input class='inputField_Signup' type="password" name="confirmpassword" required />
            <button type="submit" onclick="passwordValidity()">Sign Up!</button>
            <h4 style="color:yellow">
                Already a Wembsiter?
            </h4>
            <a style="color:mediumpurple" href="Index" style="margin-bottom: 15px;">Login here!</a>
        </form>
    </div>
</div>


<script>
    function passwordValidity() {
        var pwd = document.forms["signupForm"]["upwd"].value;
        var cpwd = document.forms["signupForm"]["cpwd"].values;
        if (upwd != cpwd) {
            alert("Passwords do not match!");
            return false;
        }
        var regex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!#\$%\^&\*])(?=.{8,})");
        if (pwd.match(regex)==false) {
            alert("Password too weak!");
            return false;
        }

    }
</script>



