@using Wembsite.Models;
@model IEnumerable<Wembsite.Models.User>
@{
    ViewBag.Title = "Follow Requests";
}

<h2 style="color:white">Follow Requests</h2>
<link href="../../Content/material.css" rel="stylesheet" type="text/css" />

<div class="card" style="padding-left:20px; padding-right:20px">

    @foreach (var item in Model)
    {
        <div class="card" style="background-color:rgb(46, 46, 46);padding:0px 20px 20px 20px">
            <br />
            <label style="color: mediumpurple">Username: </label>
            @Html.ActionLink(item.username, "../AllUsers/NonSessionUserProfile", new { username = item.username })
            <br />
            @Html.ActionLink("Accept Request", "AcceptFollowRequest", new { sender = item.username, source = "FollowRequests" })
            <label style="color:white"> </label>
            @Html.ActionLink(" Delete Request", "DeleteFollowRequest", new { sender = item.username, source = "FollowRequests" })

        </div>
    }
</div>
@Html.ActionLink("Back to Profile Page", "Profile")

