@using Wembsite.Models;
@model IEnumerable<Wembsite.Models.User>

@{
    ViewBag.Title = "Following";
}
<h2 style="color:white">Following</h2>
<link href="../../Content/material.css" rel="stylesheet" type="text/css" />

<div class="card" style="padding:0px 20px 20px 20px">
    <br />
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.username, "../AllUsers/NonSessionUserProfile", new { username = item.username })
        <br />
    }

</div>
@Html.ActionLink("Back to Profile Page", "Profile")


