@model IEnumerable<Wembsite.Models.User>

@{
    ViewBag.Title = "Search Results";
}
<link href="../../Content/material.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h2 style="color:white">Search Results for "@ViewData["searchText"].ToString()":</h2>

<div class="card" style="padding:0px 20px 20px 20px">
    <br />
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.username, "../AllUsers/NonSessionUserProfile", new { username = item.username })
        <br />
    }

</div>
<button onclick="location.href='@Url.Action("../UserHome/Profile") ';return false;" class="tile" style="display:inline-block;width:140px; height:50px"><i class="material-icons"style="display:block">person</i>Back to Profile</button>

